@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*,
:root,
*::after,
*::before {
    /** */
    --p-prime: 33 150 243;
    --p-acent: 110 185 247;
    /** */
    --p-black: 29 29 29;
    --p-white: 254 254 254;
    --p-light: 245 245 245;
    --p-shade: 209 209 209;
    --p-r-thin: 4px;
    --p-r-huge: 10px;
    --p-w-thin: 600;
    --p-w-huge: 800;
    --p-shadow: 0px 10px 20px -15px #07263e;
    /** */
    --p-color-sys-0: #94A3B8;
    --p-color-sys-1: #78716C;
    --p-color-sys-2: #1F2937;
    /** */
    --p-color-0: #03a9f4;
    --p-color-1: #ab3b66;
    --p-color-2: #c47eef;
    --p-color-3: #29add9;
    --p-color-4: #22C55E;
    --p-color-5: #f44336;
    --p-color-6: #14B8A6;
    --p-color-7: #06B6D4;
    --p-color-8: #ffc107;
    --p-color-9: #8bc34a;
    --p-color-10: #f06292;
    --p-color-11: #050529;
}

*,
*::after,
*::before {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html[lang="ar"] *,
html[lang="ar"] *::after,
html[lang="ar"] *::before {
    font-family: 'Cairo', sans-serif;
}

@page {
    margin: 0;
}

body {
    background-color: rgb(var(--p-white));
}

#backgroun-image {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    pointer-events: none;
    z-index: -99999;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    padding: 16px;
    opacity: .05;
}

#header {
    height: 116px;
}

#main {
    padding: 0 16px;
}

#footer {
    height: 84px;
}

#title {
    margin-top: 24px;
}


/* #header-content {
    border: 1px solid rgb(var(--p-black));
    justify-content: space-between;
    inset: 16px 16px auto 16px;
    width: calc(100% - 32px);
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    display: flex;
    padding: 8px;
    gap: 8px;
} 

#header-content #logo {
    display: block;
    height: 58px;
}

 #footer-content {
    border: 1px solid rgb(var(--p-black));
    inset: auto 16px 16px 16px;
    width: calc(100% - 32px);
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    column-gap: 8px;
    font-size: 12px;
    display: flex;
    padding: 8px;
} 

 #footer-content div span:first-child {
    color: rgb(var(--p-black));
    font-weight: var(--p-w-thin);
}

#footer-content div span:last-child {
    color: rgb(var(--p-black) / .7);
} */


/* #header-content.owner #logo {
    height: 70px;
    margin: auto;
} */

.table-head-col {
    background-color: rgb(var(--p-prime));
    color: rgb(var(--p-white));
}

#header-content {
    position: fixed;
    inset: 16px 0 auto 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 16px;
}

#header-content span {
    height: 32px;
}

#header-content span:first-child {
    background-color: rgb(var(--p-black) / .8);
    width: 128px;
}

#header-content span:last-child {
    background-color: rgb(var(--p-prime));
    flex: 1;
}

#header-content div {
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    gap: 4px;
}

#header-content #logo {
    display: block;
    height: 70px;
    width: max-content;
    margin: 0 auto;
}

#header-content h1 {
    color: rgb(var(--p-black));
    font-weight: var(--p-w-huge);
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

#footer-content {
    position: relative;
    inset: auto 0 0 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    column-gap: 8px;
    display: flex;
    color: rgb(var(--p-white));
    background-color: rgb(var(--p-black) / .8);
    padding: 8px 0 24px 0;
    isolation: isolate;
}

#footer-content::before {
    content: "";
    background-color: rgb(var(--p-prime));
    position: absolute;
    inset: 0 0 16px 0;
    width: 100%;
    z-index: -1;
}

#footer-content div {
    width: max-content;
    display: flex;
    gap: 4px;
    color: rgb(var(--p-white));
    font-size: 14px;
    line-height: 20px;
}

#footer-content div span:first-child {
    font-weight: var(--p-w-thin);
}